/* global.css */

/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #282c34;
  padding: 50px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #61dafb;
}

/* Section Heading */
section h1, section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin:auto;
  padding: 20px 0;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
